@font-face {
  font-family: 'DungGeunMo';
  src: url('fonts/DungGeunMo.otf') format('opentype');
}

body {
  font-family: 'DungGeunMo', sans-serif;
}

input, button {
  font-family: 'DungGeunMo', sans-serif;
  font-size: 24px;
  border: 2px solid #000;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 3px 3px #888888;
}

button {
  cursor: pointer;
  width: 200px; /* 버튼의 너비 */
  height: 50px; /* 버튼의 높이 */
  position: absolute; /* 버튼을 절대 위치로 설정 */
  bottom: 20px; /* 화면 아래에서 20px 떨어진 위치 */
  right: 20px; /* 화면 오른쪽에서 20px 떨어진 위치 */
}

button:hover {
  background-color: #e0e0e0;
}
